:root{
    --topDown-color: #222831;
    --primary-color: #31363F;
    --secondary-color: #43474e;
    --accent-color: #76ABAE;
    --bright-color: #EEEEEE;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body{
    width: 100vw;
    height: 100vh;

}

.bodyContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header{
    background-color: var(--topDown-color);
    color: var(--bright-color);
    font-weight: 700;
    width: 100%;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    
    & h1{
        margin: 0;
        font-size: 2rem;
    }
}

main{
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: start;

    & i{
        font-size: 1.rem;
        color: var(--accent-color);
    }
}

form{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    color: var(--accent-color);

    & .inputs{
        width: 30rem;
        
        & label{
            font-weight: 600; 
        }
    }
}

footer{
    background-color: var(--topDown-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    color: var(--bright-color);

    & p{
        margin: 0;
    }
}